body {
background-color: black;
font-family: 'Exo 2', sans-serif;
color:white;
}
#title{
color:white;
font-family: 'Exo 2', sans-serif;
font-size:50pt;
font-weight: 700;
margin-top: 100px;
margin-left: 680px;
margin-right:200px;
padding: 0px;

}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}