html{
    margin:0px;
}
body {
background-color: black;
font-family: 'Exo 2', sans-serif;
color:white;
}

#headerimg{
    width: 100%;
}
#title{
color:white;
font-family: 'Exo 2', sans-serif;
font-size:50pt;
font-weight: 700;
width:500px;
right:0px;
position:absolute;
}
#small{
    width:300px;
    margin-top:100px;
    float:left;
    margin-left:50px;
}
#subtitle{
    width:300px;
    margin-top:0px;
    margin-left:50px;
    font-size:14pt;
    font-weight:100;
    font-style:italic;
}

#text{
    font-size:14pt;
    font-weight:200;
    text-align: left;
    margin-right:50px;
    margin-top:-530px;
    margin-left:400px;
    margin-bottom:100px;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

@media screen and (max-width: 880px){
    #title{
        font-size:40pt;
        right:-100px;
    }
    #subtitle{
        margin-left:20px;
    }
}

@media screen and (max-width: 650px){
    #text{
        font-size:12pt;
        margin-left:100px;
    }
    #subtitle{
        font-size:12pt;
        width:250px;
    }
    #small{
        width:250px;
    }
}