body, html {
    height: 100%;
}
#quote1{
	position:relative;
	width: 500px;
	left:100px;
	top:150px;
	font-family: 'Work Sans', sans-serif;
    font-size: 38pt;
    font-weight:800;
    color:white;
    text-shadow: 2px 2px 4px #000000;
}
body{ 
    max-width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a { text-decoration: none; color:#000; }
a:visited { text-decoration: none; color:#000; }
a:hover { text-decoration: none; color:#000; }
a:focus { text-decoration: none; color:#000; }
a:hover, .navBtn:active { text-decoration: none; color:#000; }

@media screen and (max-width: 650px){
    #quote1{
    position:relative;
    width: 200px;
    left:10px;
    top:150px;
    font-size: 26pt;
}

